/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}

p {
	color:darkorange;
}
.content p,
.content span {
	/* Обратились ко всем тегам P но только к тем
	которые находятся внутри любых объектов с классом .content на странице.
	И ко всем тегам SPAN но только к тем 
	которые находятся внутри любых объектов с классом .content на странице.*/
	color: red;
}

.content .content__item,
.content .content__text {
	/* Обратились ко всем объектам с классом content__item но только к тем
	которые находятся внутри любых объектов с классом .content на странице.
	И ко всем объектам с классом content__text но только к тем 
	которые находятся внутри любых объектов с классом .content на странице.*/
	color:rgb(8, 252, 170);
}

.content__item,
.content__text,
footer {
	color: yellowgreen;
}


