*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    border: 0;
}

li {
    list-style: none;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: inherit;
    font-size: inherit;
}
img {
    vertical-align: top;
}
/* Анатомия */

/*
селектор{
    css параметр;
    css параметр;
    css параметр;
    css параметр;
}
*/
/* CSS параметр */
/*
css свойство: значение свойства;
*/

/* Селекторы */

/* Селектор тега */
/* 
имя тега{
    css параметр:
    css параметр:
    css параметр:
}
*/
/* Пример селектора тега */

/* p{
    color:blueviolet;
} */

/* span{
    color:chartreuse;
} */

/* Cелектор класса, начинается с точки */
/* 
.имя класса {
    css параметр;
    css параметр;
    css параметр;
    ...
}
 */

/* .text_1{
    color:crimson;
} */

/* Cелектор ID */
/* 
#имя id{
    css параметр;
    css параметр
    css параметр
    ...
}
*/
#main_text{
    color:rgb(5, 230, 238);
}
.text_2{
    color:red;
}
.text_1{
    color:grey;
}
span.text_1{
    color:red
}
span2{
    color:brown;
}
span.span2{
    color: yellow;
}
.zagolovok1{
    text-align: center;
    font-size: 20px;
    color:rgb(132, 131, 134)
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div p{
    color:springgreen;
}
.content .content__item_2{
    color:rgb(9, 252, 1);
}